body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: darkgray;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 25px;
}

.layout {
    display: flex;
    min-height: 70vh;
}

aside {
    width: 220px;
    background: darkslategrey;
    color: white;
    padding: 20px;
}

.products {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.product {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background-color: #444;
    transform: scale(1.05);
}