body {
    margin: 0;
    display: grid;
    grid-template-areas:
        "header header"
        "side   main";
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: lightgreen;
}

.side {
    grid-area: side;
    background-color: skyblue;
}

.main {
    grid-area: main;
    background-color: lightcoral;
}